<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="cnn" connectionString="Server=localhost; database=BrewRoom; user=damian; pwd=orgone;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
