<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="Laptop-cnn" connectionString="Data Source=LAPTOP\SQLEXPRESS;Initial Catalog=BrewRoom;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Office-cnn" connectionString="Data Source=localhost;Initial Catalog=BrewRoom;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
